/*estilos de home.css*/

/*Contenedor */
.GestiondeCorreos {
  background-color: #ffffff;
  max-width: 100%; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.input-group {
  background-color: #1b396b;
  
}



/*Estilos de la barra de busqueda  */


#Buscar {
  
   
  margin-left: 10px;
   

  margin-top: 20px;
  background-color: #ffffff;
  width: 50px; /* Cambia el ancho del botón */
  height: 50px; /* Cambia la altura del botón */
  padding: 5px;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el resaltado cuando está enfocado */
}

#Buscar svg {
  color: #1b396b;
}

#Tbuscar {
  border-top-right-radius: 10px; /* Redondea la esquina superior izquierda */
  border-bottom-right-radius: 10px; /* Redondea la esquina inferior izquierda */
  margin-top: 20px;
  height: 50px; /* Cambia la altura del botón */
  width: 70%;
  font-family: "Inter", sans-serif;
  color: #1b396b;
  padding-right: 10px;
  padding-left: 10px;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el resaltado cuando está enfocado */
}
#Tbuscar::placeholder {
  color: #1b396b; /* Cambia el color del texto del placeholder */
}
/*Fin de estilos de la barra de busqueda   */

.correo {
  background-color: #ffffff;
}

#Filtro {
  margin-top: 5px;
  height: 40px;
  width: 120px;
  color: #1b396b;
  margin-left: 5px;
}
#recargar {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  border: none;
}

#recargar svg {
  color: #1b396b;
}

#Solicitar {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  margin-top: 5px;
  border-color: #1b396b;
  color: #1b396b;
  margin-right: 5px;
}
#Solicitar svg {
  color: #1b396b;
}





/*Tabla de correos*/
/* Estilos de la tabla */
.table {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  color: #1b396b;
  border-collapse: collapse; /* Colapsa los bordes de las celdas */
  max-width: 100%; /* Ancho máximo de la tabla */
  overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
}


.table th,
.table td {
  border: none; /* Elimina el borde de las celdas */
  padding: 8px; /* Añade un relleno opcional */
}

.table-borderless {
  border-collapse: collapse; /* Colapsa los bordes de las celdas */
}

.table-borderless th,
.table-borderless td {
  border: none; /* Elimina el borde de las celdas */
  padding: 8px; /* Añade un relleno opcional */
}
th.columna-numero,
td.columna-numero {
  background-color: #ffffff;
  width: 10px;
  height: 40px;
}

th.columna-tipo-servicio,
td.columna-tipo-servicio {
  background-color: #ffffff;
  width: 10px;
  height: 40px;
}
th.columna-descripcion,
td.columna-descripcion {
  height: 40px;
  background-color: #ffffff;
  width: 10px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que sobresale del contenedor */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto */
}

th.columna-estado,
td.columna-estado {
  height: 40px;
  background-color: #ffffff;
  width: 20px;
}

th.columna-fecha,
td.columna-fecha {
  height: 40px;
  background-color: #ffffff;
  width: 10px;
}
th.columna-hora,
td.columna-hora {
  height: 40px;
  background-color: #ffffff;
  width: 10px;
}
th.columna-acciones,
td.columna-acciones {
  background-color: #ffffff;
  width: 30px;
  height: 40px;
}



.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button svg {
  width: 100%;
  height: 100%;
  color: #1b396b;
}

.icono-status {
  width: 80px; /* Tamaño deseado para la celda */
  height: 30px; /* Tamaño deseado para la celda */
}

.icono-status svg {
  width: 30px;
  height: 30px;
  color: #1b396b;
}
.hora .fecha {
  width: 30px;
  height: 30px;
}
