
#Contenido{
    background-color:white !important;
    font-family: "Inter", sans-serif !important;
    
}

/* Estilos para el encabezado de la tabla */
/* Estilos para el Buscador */
#Buscador{
    padding-top: 10px !important;
    background-color: #1B396B !important;
}
.input-group-text {
    color: #1B396B !important;
    background-color:white !important;
}



#searchInput {
    color: #1B396B !important;
    background-color:white !important;
}
/* Estilos para el Filtro */
.container-fluid {
    background-color: #ffffff !important;
    padding-top: 10px !important;

}

/* Botones de Filtrado, Recargar Tabla y Solicitar-formulario */
#Filtro{
   
    background-color: #ffffff !important;
    color:#1B396B !important;
}

#Recargar{
    border: none !important; /* Elimina el borde */
    background-color: #ffffff !important;
    color:#1B396B !important;
}
#Solicitar-formulario{
    
    background-color: #ffffff !important;
    color:#1B396B !important;
}


/* Estilos para el encabezado de la tabla */
#Tabla-Solicitudes {
   
    
    padding-top: 10px !important;
}

/* Agrega estilos al pasar el mouse sobre las filas de la tabla */
#Tabla-Solicitudes tbody tr:hover {
   
    /* Otros estilos que desees aplicar al pasar el mouse sobre las filas */
    cursor: pointer !important;
}



.centered  {
    text-align: center !important;
    color: #1B396B !important;
    font-weight: bold !important;
    width: 10px !important;
    height: 50px !important;

}
.ColDesc{
    text-align: left    !important;
    color: #1B396B !important;
    font-weight: bold !important;
    width: 800px !important;
    height: 50px !important;
}

/* Estilos para las filas de la tabla */
.texto{
    color: #0b0b0b !important;
    text-align: center !important;
    width: 10px !important;
    height: 50px !important;
}


.status{
    color: #1B396B !important;
    text-align: center !important;
    width: 10px !important;
    height: 50px !important;
}

.descripcion{
    color: #0b0b0b;
    text-align: left    !important;
    width: 800px !important;
    height: 50px !important;
}

.fecha{
    color: #0b0b0b!important ;
    text-align: center !important;
    height: 50px !important;
}
.hora{
    color: #0b0b0b!important ;
    text-align: center !important;
    height: 50px !important;
}



.botones .btn {
    border: none !important; /* Quitar los bordes */
    background-color: transparent !important; /* Hacer el fondo transparente */
}

.Enviado {
    background-color: #3366cc; /* Azul para estado 'Enviado' */
}

.Pendiente {
    background-color: #ff9933; /* Naranja para estado 'Pendiente' */
}

.Realizado {
    background-color: #00cc66; /* Verde para estado 'Realizado' */
}

.Rechazado {
    background-color: #ff3333; /* Rojo para estado 'Rechazado' */
}

.Alerta {
    background-color: #ffcc00; /* Amarillo para estado 'Alerta' */
}

.En proceso {
    background-color: #cc9900; /* Marrón para estado 'En proceso' */
}

.Enespera {
    background-color: #cccccc; /* Gris para estado 'En espera' */
}


/* Estilos para el modal */
.modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.modal-header {
    background-color: #ffffff;
    color: #1B396B !important;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    font-family: "Inter", sans-serif !important;
    font-weight: bold;
    color: #1B396B !important;
}

.modal-body {
    padding: 20px;
    background-color:#ffffff !important;
    color: #000000 !important;
    font-family: "Inter", sans-serif !important;
}

.modal-footer {
    background-color:#ffffff !important;
    border-top: 1px solid #dee2e6;
    border-radius: 0 0 10px 10px;
}

/* Estilos para los botones */
.modal-footer button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color:#1B396B!important;
    color: #ffffff !important;
}

.modal-footer a.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545 !important; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Quita la subrayado del enlace */
    cursor: pointer;
}

.modal-footer a.btn:hover {
    background-color: #c82333 !important; /* Color de fondo del botón al pasar el mouse */
}


.modal-footer button:hover {
    background-color: #e3e6ea;
}

.modal-footer button[data-bs-dismiss="modal"] {
    background-color: #ccc;
    color: #333;
}

.modal-footer button[data-bs-dismiss="modal"]:hover {
    background-color: #bbb;
}
