
#Filtro {
  margin-top: 5px;
  height: 40px;
  width: 120px;
  color: #1b396b;
  margin-left: 5px;
}
#recargar {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  border: none;
}

#recargar svg {
  color: #1b396b;
}

#Solicitar {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  margin-top: 5px;
  border-color: #1b396b;
  color: #1b396b;
  margin-right: 5px;
}
#Solicitar svg {
  color: #1b396b;
}

.centered{
  text-align: center  !important;
  color: #1b396b !important;
  font-weight: bold !important;
}
