#Contenedor{

    background-color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif !important;
   
}

#ContenedorBotones{
    background-color: rgba(27, 57, 107, 1);
    height: 70px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding-top: 8px;
}

#conArriba{
   
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
   
    text-align: center;     /* Centra el texto */
   
}
#conPertence{
    padding-left: 20px;
    padding-top: 10px;
 

}
.form-label{
    color: #1B396B;
    font-size: 15px;
}

.form-label.lg-3{

    color:#99344C;
    font-size: 24px;
    font-style: italic;


}
#BotInicio{
    background-color: #FFFFFF;
    color: #1B396B;
    border-radius :20px;
    height: 50px;
    width: 150px;
  
    font-size: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
   
}

#BotInicio:hover{
    background-color: #99344C;
    color: #FFFFFF;
    border-radius :8px;
    height: 50px;
    width: 150px;
  
    font-size: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
   
}


.custom-line {
    border-top: 10px solid #00002D !important; /* Define el grosor, el estilo y el color de la línea */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    border-radius:10px;
}

#logoDerecha{
    width: 150px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: end; /* Alinea el contenido horizontalmente */
    justify-content: flex-end; /* Alinea el contenido al final verticalmente */

}



#descargar{
    background-color: #012557;
    color: #ffffff;
    border-radius :50px;
    width: 300px;  
  
}

#descargar:hover{
    background-color: #00002D;
    color: #FFFFFF;
    border-radius :50px;
    width: 320px;   

}

.img-profile {
    width: 100px; /* ajusta el tamaño según tu preferencia */
    height: 100px; /* ajusta el tamaño según tu preferencia */
    border-radius: 50%; /* esto hace que la imagen sea redonda */
    object-fit: cover; /* esto asegura que la imagen se ajuste correctamente al contenedor */
}

.form-label.md-4 {
    display: block;
    background-color: #F6F6F6;
    border-radius: 5px;
    height: 30px;  /* Altura del contenedor */
    width: 100%;   /* Ancho del contenedor */
    padding-left: 5px; /* Padding para que el contenido no esté pegado al borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra añadida */
}