{% extends "dep_mantenimiento/layout/layout.html" %}
{% load static %}
{% block title %}<title>SARH | I.T. Morelia</title>{% endblock %}
{% block navpath %} 
   <li class="breadcrumb-item"><a href="{% url 'home' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
         <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
      </svg>
   </a></li>
   <li class="breadcrumb-item"><a href="{% url 'inicio_jefe_departamento' id=id %}">


      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
         <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
   </a></li>
   <li class="breadcrumb-item"> Navegación </li>
   <li class="breadcrumb-item"> Directorio </li>

{% endblock %}
{% block content %}

<span class="align-middle">

   <!DOCTYPE html>
   
   <html>
      <head>
         <script id="user-data" data-user-id="{{ id }}"></script>

         <!--bootstrap5 v5.2.3-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
         <!-- DataTable-->
         <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
         <!-- Iconos-->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
         <!--Mi css-->
         <link rel="stylesheet" href="{% static "dep_mantenimiento/css/pages/jDep/home.css" %}">
      </head>
      <body>
         <div class="container-fluid" Id="Contenido">
            
            <div class="row" id="Buscador">
               <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                  
                  <div class="input-group">
                     <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                     <input type="search" class="form-control" id="searchInput" placeholder="Buscar Solicitud">
                 </div>
               </div>
           </div>
           <!-- Botones de Filtrado, Recargar Tabla y Solicitar-formulario -->
            <div class="container-fluid" id="FilySolcititar">
               <div class="row" id="Fila-Botones">
                  <div class="col-auto me-auto">
                     <select id="Filtro" class="form-select">
                        <option value="todos">Todos</option>
                        <optgroup label="Estatus">
                              <option value="Enviado">Enviado</option>
                              <option value="Pendiente">Pendiente</option>
                              <option value="Realizado">Realizado</option>
                              <option value="Rechazado">Rechazado</option>
                              <option value="En proceso">En proceso</option>
                              <option value="En espera">En espera</option>
                              <option value="Firmado">Firmado</option>
                        </optgroup>
                        <optgroup label="Servicios">
                              <option value="Electrica">Electrica</option>
                              <option value="Herrería">Herrería</option>
                              <option value="Plomería">Plomería</option>
                              <option value="Pintura">Pintura</option>
                              <option value="Cañones">Cañones</option>
                              <option value="Pintarrón">Pintarrón</option>
                              <option value="Cerrajería">Cerrajería</option>
                              <option value="Otro">Otro</option>
                        </optgroup>
                        <optgroup label="Tiempos">
                           <option value="Recientes">Recientes</option>
                           <option value="Pasadas">Pasadas</option>
                        </optgroup>


                      </select>
                  </div>
                  
                  <div class="col">
                     <button class="btn btn-light" id="Recargar"  onclick="reloadDataTable()" >
                        <i class="fa-solid fa-arrow-rotate-right"></i>

                     </button>
                   </div>


                  <div class="col-auto">
                     <a id="Solicitar-formulario" class="btn btn-light" href="{% url 'formulario_jefe_departamento' id_JefeDepartamento=id %}" role="button">

                        <i class="fa-solid fa-file-medical"></i>
                        Solicitar Formulario

                     </a>
                  
                  </div>


                  


               </div>
            </div>

            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="table-responsive">
                     <table class="table" id="Tabla-Solicitudes">
                        <thead>
                        <tr>
                           <th scope="col" class ="Colindex">#</th>
                           <th scope="col" class ="Colservicio">Servicio</th>
                           <th scope="col" class ="ColDesc">Descripción</th>
                           <th scope="col" class ="ColPertenece"></th>
                           <th scope="col" class="Colbotones">Acciones</th>
                           <th scope="col" class ="Colstatus">Proceso</th>
                           <th scope="col" class ="Colfecha">Fecha</th>
                           <th scope="col" class ="Colhora">Hora</th>
                           


                        </tr>
                        </thead>
                        <tbody class="table-group-divider" id="tbodySolicitudes" ></tbody>
                        
                     </table>
                  </div>
                  
                </div>
             </div>

          </div>
         
         
         
         
         
         
         
         
         
         
         
         
         <!--bootstrap5 v5.2.3-->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
         <!--jquery-->
         <script src="https://code.jquery.com/jquery-3.7.1.js" ></script>
         <!--DataTable.js-->
         <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
         <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js" ></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" ></script>
         <!-- Alertas-->
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
         {% if messages %}
         {% for message in messages %}
            <script>
               Swal.fire({
                     icon: '{{ message.tags }}',
                     title: '{{ message }}',
               
                     toast: true,
                     position: 'top-end',
                     showConfirmButton: false,
                     timer: 3000,
                     timerProgressBar: true
               });
            </script>
         {% endfor %}
         {% endif %}
         <!--Mi js-->
         <script src="{% static "dep_mantenimiento/js/jDep/home.js" %}" ></script>
      </body>
   </html>
    
   







</span>     
{% endblock %}