#Contenido {
  background-color: white !important;
  font-family: "Inter", sans-serif !important;
}
/* Estilos para el encabezado de la tabla */

/* Estilos para el Buscador */
#Buscador {
  padding-top: 10px !important;
  background-color: #1b396b !important;
}
.input-group-text {
  color: #1b396b !important;
  background-color: white !important;
}

#searchInput {
  color: #1b396b !important;
  background-color: white !important;
}
/* Estilos para el Filtro */
.container-fluid {
  background-color: #ffffff !important;
  padding-top: 10px !important;
}

/* Botones de Filtrado, Recargar Tabla y Solicitar-formulario */
#Filtro {
  background-color: #ffffff !important;
  color: #1b396b !important;
}

#Recargar {
  border: none !important; /* Elimina el borde */
  background-color: #ffffff !important;
  color: #1b396b !important;
}
#Solicitar-formulario {
  background-color: #ffffff !important;
  color: #1b396b !important;
}
/* Estilos para el encabezado de la tabla */
#Tabla-Solicitudes {
  width: 100%; /* Ancho completo de la tabla */
  height: 50px !important; /* Establece la altura deseada para las filas */
  border-collapse: collapse; /* Fusionar los bordes de las celdas */
  max-height: 50px !important;
}



/* Agrega estilos al pasar el mouse sobre las filas de la tabla */

#Tabla-Solicitudes tbody tr:hover td {
  background-color: #a2d2ff !important;
  color: white !important;
  cursor: pointer !important;
}

/* Estilos de las filas de la tabla dependiendo del progreso de la solicitud */
.Pendiente td{
  background-color: rgba(217, 217, 217, 1) !important;
}
.Realizado td{
  background-color: rgba(37, 189, 13, 0.53) !important;
}
.En_espera td{
  background-color: rgba(241, 195, 77, 0.53) !important;
  color: rgb(0, 0, 0) !important;

}
.Rechazado td{
  background-color: rgba(255, 46, 0, 0.53) !important;
  color: white !important;

}



/* Estilos de las columnas de la tabla */
.Colindex {
  font-size: 16px;
  text-align: center !important;
  color: #1b396b !important;
  font-weight: bold !important;

  width: 20px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 20px !important;
}

.Colservicio {
  font-size: 16px;
  text-align: center !important;
  color: #1b396b !important;
  font-weight: bold !important;

  width: 80px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 80px !important;
}

.ColDesc {
  font-size: 16px;
  text-align: left !important;
  color: #1b396b !important;
  font-weight: bold !important;
  width: 100px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 100px !important;
}
.ColPertenece {
  font-size: 16px;
  text-align: center !important;
  color: #1b396b !important;
  font-weight: bold !important;
  width: 150px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 150px !important;
}

.ColDepartamento {
  font-size: 16px;
  text-align: center !important;
  color: #1b396b !important;
  font-weight: bold !important;
  width: 150px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 150px !important;
}
.ColAsignados {
  font-size: 16px;
  text-align: center !important;
  color: #1b396b !important;
  font-weight: bold !important;
  width: 150px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 150px !important;
}


.Colbotones {
  font-size: 16px;
  text-align: center !important;
  color: #1b396b !important;
  font-weight: bold !important;
  width: 85px !important;
  height: 50px !important;
  max-width: 85px !important;
  max-height: 50px !important;
}

.Colstatus {
  font-size: 16px;
  text-align: center !important;
  align-items: center !important;
  color: #1b396b !important;
  font-weight: bold !important;
  width: 80px !important;
  height: 50px !important;
  max-width: 80px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
}

.Colfecha {
  font-size: 16px;
  color: #1b396b !important;
  text-align: center !important;
  height: 50px !important;
  width: 100px !important;
  font-weight: bold !important;
  max-width: 100px !important;
  max-height: 50px !important;
}
.Colhora {
  font-size: 16px;
  color: #1b396b !important;
  text-align: center !important;
  align-items: center !important;
  height: 50px !important;
  width: 60px !important;
  font-weight: bold !important;
  max-height: 50px !important;
  max-width: 60px !important;
}

/* Estilos para las filas de la tabla */
.index {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  align-items: center !important;
  width: 20px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 20px !important;
}
.servicio {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  width: 50px !important;
  height: 50px !important;
  max-height: 50px !important;
  max-width: 50px !important;
}

.descripcion {
  font-size: 16px;
  color: #0b0b0b;
  text-align: left !important;
  max-width: 100px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que se desborde */
}
.Pertenece {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  max-width: 100px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que se desborde */
}
.Departamento {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  max-width: 100px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que se desborde */
}

.Asignados {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  max-width: 100px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que se desborde */
}




.botones {
  text-align: center !important;
  align-items: center !important;
  width: 85px !important;
  height: 50px !important;
  max-width: 85px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
}

.status {
  max-height: 50px !important;
  text-align: center !important;
  width: 50px !important;
  height: 50px !important;
  max-width: 50px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
}
.hora {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  width: 60px !important;
  height: 50px !important;
  max-width: 60px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que se desborde */
}

.fecha {
  font-size: 16px;
  color: #0b0b0b !important;
  text-align: center !important;
  width: 100px !important;
  max-width: 100px !important; /* Para evitar que el contenido se desborde */
  max-height: 50px !important;
  height: 50px !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que se desborde */
}


